 .App {
  text-align: center;
    background-color: #301d2d;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    margin: 30px;
    width: 70%;
    height: 1000px;
  
} 

